{% extends 'base.html'%}
{% block content %}
<br>
<br>

<div class="row" style="margin-left: 140px;">
    <div class="col-6">
        <h5>Leave Requests</h5>
        {% for req in user.approver1.all%}
        <div class="col-4" style="border: groove;  width: 260px; height: 300px;
        padding-left: 10px; margin-bottom: 10px;">
            <h5>{{req.leave_type}}</h5>
            <label>From: {{req.start_date|date:"d M Y"}}</label>
            <label>To: {{req.end_date|date:"d M Y"}}</label>
            <p class="text-dark">Remarks:{{req.description}}</p>
            <br>
            <br>
            {% if req.is_approved%}
            <p>Status: <strong>Approved</strong></p>
            {% elif req.is_cancelled %}
            <label>Status: <strong>Rejected</strong></label>
            {% else%}
            <p>Status: <strong>Pending</strong></p>
            {% endif %}
            <label>Raised By: <strong>{{req.raised_by}}</strong></label>
        
            {% if not req.is_closed %}
                <a href="{% url 'approve' 'Leave' req.id 'Approve'%}">Approve</a>
                <a>&nbsp;&nbsp;&nbsp;</a>
                    <a href="{% url 'approve' 'Leave' req.id 'Reject'%}">Reject</a>
            {% endif%}

        </div>
        {% endfor%}
    </div>

    <div class="col-6">
        <h5>Software Requests</h5>
        {% for req in user.approver2.all%}
        <div class="col-4" style="border: groove;  width: 260px; height: 300px;
        padding-left: 10px; margin-bottom: 10px;">
            <h5>Software Req</h5>
            <label>Raised for: {{req.name}}</label>
            <label>Verion:{{req.version_name}}</label>
            <p class="text-dark">Remarks:{{req.description}}</p>
            <br>
            <br>
            {% if req.is_approved%}
            <p>Status: <strong>Approved</strong></p>
            {% elif req.is_cancelled %}
            <p>Status: <strong>Rejected</strong></p>
            {% else%}
            <p>Status: <strong>Pending</strong></p>
            {% endif %}
            <p>Raised By: <strong>{{req.raised_by}}</strong></p>
            </label>

            {% if not req.is_closed %}
                <a href="{% url 'approve' 'soft' req.id 'Approve'%}">Approve</a>
                
                <a>&nbsp;&nbsp;&nbsp;</a>
                <a href="{% url 'approve' 'soft' req.id 'Reject'%}">Reject</a>
        {% endif%}

        </div>
        {% endfor%}
    </div>
</div>

{% endblock content %}