{% extends 'base.html'%}

{% block content %}

<div >
<!-- <h3 style="text-align: center; margin-top: 90px;margin-bottom: 20px;" class="text-dark">Login</h3> -->
<div class="container" style="width: 30%;border: groove;padding: 10px 20px 20px 20px;  ">
    <a href="{% url 'profile'%}">&larr;</a>
    <h5 class="text-secondary" style="text-align: center; margin-bottom: 30px;">{{page.title}} Request</h5>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <p style="margin-top: 0px;">
    <button type="submit" class="btn btn-secondary"  style="margin-left: 150px; margin-top: 10px;">Submit</button>
</p>
</form>
</div>
</div>
{% endblock content %}