{% extends 'base.html'%}

{% block content %}

<div class="container" style="width: 50%;">
<h3 style="text-align: center;padding-top: 20px;padding-bottom: 30px;">Add Employee</h3>
<form method="post" action="">
    {% csrf_token %}
    {% for field in form %}
    <label class="form-label">{{field.label}}</label>
    {{field}}
    {{field.errors}}
    {% endfor %}
    <p> 
    <input type="submit" value="Submit" class="btn btn-dark" style="margin-top: 10px;">
</p>
</form>
</div>

{% endblock content %}